

.form__label-radio {
  display: inline-block;
  cursor: pointer;
  font-size: 3rem;
  line-height: 5rem;
  font-weight: 700;
  border: 1px solid #999;
  border-radius: 0.8rem;
  user-select: none;
  color: #000000;
  padding: 0px 1.5rem;
  background: #FFFFFF;
  width: 25rem;
  height: 5.5rem;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__button:checked+.form__label-radio {
  background-color: var(--third-color);
  border: 0.3rem solid #FFFFFF;
  border-radius: 0.8rem;
}

.form__label-radio:focus {
  background: #FFFFFF;
  border: 0.3rem solid var(--second-color);
  border-radius: 0.8rem;
}

.form__label-radio:hover {
  background-color: #EADEED;
  border: 0.3rem solid var(--second-color);
  border-radius: 0.8rem;
}
.form__label-radio:active {
  background-color: var(--third-color);
  border: 0.3rem solid #FFFFFF;
  border-radius: 0.8rem;
}

.chooseRoom {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 6rem;
}

.form__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4rem;

  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  padding-bottom: 0;
  padding-top: 0;
}

.form__parameters {
  display: flex;
  padding: 0;
  margin-bottom: 6rem;
}
.form__parameters_type_date {
  justify-content: center;
  gap: 5rem;
}

.form__parameters:last-child {
  margin-bottom: 0;
}

.form__input {
  max-height: 4.9rem;
  flex-shrink: 1;
  min-width: 13.3rem;
  width: 100%;
  padding: 1.2rem 2rem;

  font-weight: 400;
  font-size: 2.2rem;
  line-height: calc(25 / 22);
  color: #211E1E;

  background-color: #fff;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__input::placeholder {
  color: #211E1E;
}

.form__input:focus {
  outline: 2px solid var(--first-color);
}

.form__input-date {
  width: 13.4rem;
}

.form {
  width: 100%;
  background-color: #440F51;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 4rem;
}

.form__radio-button {
  height: 2.7rem;
  width: 2.7rem;
  vertical-align: text-bottom;
  margin-right: 0.5rem;

}
.form__radio-button:focus {
  outline: 1px solid var(--first-color);
}
.form__checkbox {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
  vertical-align: bottom;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__checkbox:focus {
  outline: 1px solid var(--first-color);
}


.form__button-booking {
  height: 5.2rem;
  width: 100%;
  border-radius: 1rem;
  margin-top: 2.6rem;

  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  color: var(--third-color);
  border-style: none;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.form__button-booking:hover {
  background-color: #EADEED;
  border: 0.3rem solid var(--second-color);
  border-radius: 1rem;
}

.form__button-booking:focus {
  background: #FFFFFF;
  border: 0.3rem solid var(--third-color);
  border-radius: 1rem;
}

.form__button-booking:active {
  background-color: #EADEED;;
  border: 0.3rem solid #FFFFFF;
  border-radius: 1rem;
}

.form__subtitle {
  margin-bottom: 2.3rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
}

.form__label-small {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.form__row {
  display: flex;
  gap: 3.2rem;
  padding: 2.9rem 0;
}


.form__column_size_compressed {
  width: 28rem;
}

.form__column_size_normal {
  width: 30rem;
}

.form__options {
  display: flex;
  margin-bottom: 6.7rem;
}

.form__options:last-of-type {
  margin-bottom: 0;
}

.form__options_type_kits {
  justify-content: end;
  gap: 10rem;
}
