
.form__button:checked+.form__label-radio {
  background-color: var(--third-color);
  border: 3px solid #FFFFFF;
  border-radius: 8px;
}

.form__label-radio {
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  border: 1px solid #999;
  border-radius: 8px;
  user-select: none;
  color: #000000;
  padding: 0px 15px;
  background: #FFFFFF;
  width: 250px;
  height: 55px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__label-radio:hover {
  background-color: #EADEED;
  border: 3px solid var(--second-color);
  border-radius: 8px;
}

.form__label-radio:focus {
  background: #FFFFFF;
  border: 3px solid var(--second-color);
  border-radius: 8px;
}

.form__label-radio:active {
  background-color: var(--third-color);
  border: 3px solid #FFFFFF;
  border-radius: 8px;
}

.chooseRoom {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 60px;
}

.form__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  overflow: hidden;

  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 0;
  padding-top: 0;
}

.form__parameters {
  display: flex;
  padding: 0;
  margin-bottom: 60px;
}
.form__parameters_type_date {
  justify-content: center;
  gap: 50px;
}

.form__parameters:last-child {
  margin-bottom: 0;
}

.form__input {
  max-height: 49px;
  flex-shrink: 1;
  min-width: 133px;
  width: 100%;
  padding: 12px 20px;

  font-weight: 400;
  font-size: 22px;
  line-height: calc(25 / 22);
  color: #211E1E;

  background-color: #fff;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__input::placeholder {
  color: #211E1E;
}

.form__input:focus {
  outline: 2px solid var(--first-color);
}

.form__input-date {
  width: 134px;
}

.form {
  width: 100%;
  background-color: #440F51;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.form__radio-button {
  height: 27px;
  width: 27px;
  vertical-align: text-bottom;
  margin-right: 5px;

}
.form__radio-button:focus {
  outline: 1px solid var(--first-color);
}
.form__checkbox {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  vertical-align: bottom;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__checkbox:focus {
  outline: 1px solid var(--first-color);
}


.form__button-booking {
  height: 52px;
  width: 100%;
  border-radius: 10px;
  margin-top: 26px;

  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--third-color);
  border-style: none;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.form__button-booking:hover {
  background-color: #EADEED;
  border: 3px solid var(--second-color);
  border-radius: 10px;
}

.form__button-booking:focus {
  background: #FFFFFF;
  border: 3px solid var(--third-color);
  border-radius: 10px;
}

.form__button-booking:active {
  background-color: #EADEED;;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
}

.form__subtitle {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.form__label-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.form__row {
  display: flex;
  gap: 32px;
  padding: 29px 0;
}


.form__column_size_compressed {
  width: 280px;
}

.form__column_size_normal {
  width: 300px;
}

.form__options {
  display: flex;
  margin-bottom: 67px;
}

.form__options:last-of-type {
  margin-bottom: 0;
}

.form__options_type_kits {
  justify-content: end;
  gap: 100px;
}
