.conteiner-round {
  width: 280px;
  height: 280px;
  max-height: 280px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.conteiner-round:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 280px;
  height: 280px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
  border-radius: 140px;
}

.guests__comment {
  padding-top: 52px;

  color: #FFFFFF;
}

.guests__feedback {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.guests {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  width: 980px;
  margin-left:auto;
  margin-right: auto;
}
.guests__item {
  display: flex;
  margin-bottom: 50px;
}

.guests__item:last-child {
  margin-bottom: 0;
}

.guests__figure {
  text-align: center;
  position: relative;
}

.guests__name{
  padding-top: 11px;

}

.lastchilddontwork{
  margin-bottom: 0;
}
