.conteiner-round {
  width: 280px;
  height: 280px;
  max-height: 280px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}


.guests__comment {
  padding-top: 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.guests__feedback {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.guests {
  width: 980px;
  margin-left:auto;
  margin-right: auto;
}
.guests__item {
  display: flex;
  margin-bottom: 50px;
}

.guests__item:last-child {
  margin-bottom: 0;
}

.guests__figure {
  text-align: center;
}

.guests__name{
  padding-top: 11px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.lastchilddontwork{
  margin-bottom: 0;
}
