.entertainment-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 2rem;
  justify-content: center;
}

.entertainment-list__item {
  background-repeat: no-repeat;
  background-size: 38rem auto;
  width: 38rem;
  height: 22.8rem;
  transition-duration: 300ms;
  cursor: pointer;
}

.entertainment-list__item:nth-child(1) {
  background-image: url(../enterteiment/image/vr.jpg);
}

.entertainment-list__item:nth-child(2) {
  background-image: url(../enterteiment/image/audio.jpg);
}

.entertainment-list__item:nth-child(3) {
  background-image: url(../enterteiment/image/micro.jpg);
}

.entertainment-list__item:nth-child(4) {
  background-image: url(../enterteiment/image/game.jpg);
}

.entertainment-list__item:nth-child(5) {
  background-image: url(../enterteiment/image/netflix.jpg);
}

.entertainment-list__item:nth-child(6) {
  background-image: url(../enterteiment/image/sony.jpg);
}

.entertainment-list__item:nth-child(3n+2){
  transform: translateY(7rem);
}

.entertainment-list__item:hover {
  transition-timing-function: linear;
  transform: scale(1.1);
}

.entertainment-list__item:nth-child(3n+2):hover {
  transition-timing-function: linear;
  transform:translateY(7rem) scale(1.1);

}

.entertainment-list__title {
  position: relative;
  top: 16.6rem;
  left: 4rem;
  white-space: pre-line;
  font-size: 2rem;
  font-weight: 700;
}

@media (max-width: 1024px){
  .entertainment-list {
    gap: 3rem 2.2rem;
  }
  .test__enterteiment{
height: 46.2rem;
  }
  .entertainment-list__item {
    background-size: 28.7rem auto;
    width: 28.7rem;
    height: 17.2rem;
  }

  .entertainment-list__item:nth-child(3n+2){
    transform: translateY(5.3rem);
  }

  .entertainment-list__item:nth-child(3n+2):hover {
    transform:translateY(5.3rem) scale(1.1);

  }

  .entertainment-list__title {
    top: 11.4rem;
    left: 2rem;
    font-size: 2rem;
  }

  .entertainment-list__title-box {
    display: block;
    width: 24.7rem;
    height: 8.4rem;
    top: 8.3rem;
  }
}
@media (max-width: 768px){
  .entertainment-list {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .test__enterteiment{
    height: auto;
      }
  .entertainment-list__item {
    background-size: 33.4rem auto;
    width: 33.4rem;
    height: 20rem;
  }

  .entertainment-list__item:nth-child(3n+2){
    transform: translateY(0);
  }

  .entertainment-list__item:nth-child(3n+2):hover {
    transform:translateY(0) scale(1.1);

  }

  .entertainment-list__title {
    top: 13.2rem;
    left: 3rem;
    font-size: 2rem;
  }

  .entertainment-list__title-box {
    display: block;
    width: 27.4rem;
    height: 5.6rem;
    top: 13.2rem;
  }

}
@media (max-width: 320px){
  .entertainment-list {
    gap: 1rem;
  }

  .entertainment-list__item {
    background-size: 13.5rem auto;
    width: 13.5rem;
    height: 7.5rem;
  }


  .entertainment-list__title {
    top: 3rem;
    left: 1rem;
    font-size: 1rem;
  }

  .entertainment-list__title-box {
    display: block;
    width: 11.5rem;
    height: 4.2rem;
  }
}

