.entertainment-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 2rem;
  justify-content: center;
}

.entertainment-list__item {
  background-repeat: no-repeat;
  background-size: 38rem auto;
  width: 38rem;
  height: 22.8rem;
  transition-duration: 300ms;
  cursor: pointer;

}

.entertainment-list__item:nth-child(1) {
  background-image: url(../enterteiment/image/vr.jpg);
}

.entertainment-list__item:nth-child(2) {
  background-image: url(../enterteiment/image/audio.jpg);
}

.entertainment-list__item:nth-child(3) {
  background-image: url(../enterteiment/image/micro.jpg);
}

.entertainment-list__item:nth-child(4) {
  background-image: url(../enterteiment/image/game.jpg);
}

.entertainment-list__item:nth-child(5) {
  background-image: url(../enterteiment/image/netflix.jpg);
}

.entertainment-list__item:nth-child(6) {
  background-image: url(../enterteiment/image/sony.jpg);
}

.entertainment-list__item:nth-child(3n+2){
  transform: translateY(7rem);
}

.entertainment-list__item:hover {
  transition-timing-function: linear;
  transform: scale(1.1);
}

.entertainment-list__item:nth-child(3n+2):hover {
  transition-timing-function: linear;
  transform:translateY(7rem) scale(1.1);

}

.entertainment-list__title {
  position: relative;
  top: 16.6rem;
  left: 4rem;
  white-space: pre-line;
  font-size: 2rem;
  font-weight: 700;
}
