.entertainment-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  justify-content: center;
}

.entertainment-list__item {
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;

}

.entertainment-list__item:hover {
  transition-duration: 300ms;
  transition-timing-function: linear;
  transform: scale(1.1);
  cursor: pointer;
}

.entertainment-list__item:nth-child(1) {
  background-image: url(../enterteiment/image/vr.jpg);
}

.entertainment-list__item:nth-child(2) {
  background-image: url(../enterteiment/image/audio.jpg);
}

.entertainment-list__item:nth-child(3) {
  background-image: url(../enterteiment/image/micro.jpg);
}

.entertainment-list__item:nth-child(4) {
  background-image: url(../enterteiment/image/game.jpg);
}

.entertainment-list__item:nth-child(5) {
  background-image: url(../enterteiment/image/netflix.jpg);
}

.entertainment-list__item:nth-child(6) {
  background-image: url(../enterteiment/image/sony.jpg);
}

.entertainment-list__item:nth-child(3n+2){
  transform: translateY(70px);
}

.entertainment-list__title {
  position: relative;
  top: 166px;
  left: 40px;
  white-space: pre-line;
  font-size: 20px;
  font-weight: 700;
}
