.rooms{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.rooms__item_vibes {
  background-image: url(../rooms/image/80s.jpg);
  margin-right: 1.5rem;
  margin-bottom: 1.8rem;
}

.rooms__item_starwars {
  background-image: url(../rooms/image/starwars.jpg);
}

.rooms__item_wildwest {
  background-image: url(../rooms/image/wildwest.jpg);
  margin-bottom: 6rem;
}

.rooms__item_neonstyle {
  background-image: url(../rooms/image/neon.jpg);
  margin-left: 1.5rem;

}

.rooms__item {
  background-size: contain;
  background-repeat: no-repeat;
  width: 58rem;
  height: 34.9rem;
  text-align: center;
  padding-top: 13.5rem;
  font-size: 7rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 8rem;
  text-transform: uppercase;
  display: inline-block;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5rem;
  white-space: pre-line;
}

@media (max-width: 1024px){
  
  .rooms__item_vibes {
    margin-right: 1.5rem;
    margin-bottom: 1.8rem;
  }
  
  .rooms__item_wildwest {
    margin-bottom: 6rem;
  }
  
  .rooms__item_neonstyle {
    margin-left: 1.5rem;
  }
  
  .rooms__item {
    width: 58rem;
    height: 34.9rem;
    padding-top: 13.5rem;
    font-size: 7rem;
    line-height: 8rem;
  }
  
  .section-title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 768px){
  .rooms__item_vibes {
    margin-right: 1.5rem;
    margin-bottom: 1.8rem;
  }
  
  .rooms__item_wildwest {
    margin-bottom: 6rem;
  }
  
  .rooms__item_neonstyle {
    margin-left: 1.5rem;
  }
  
  .rooms__item {
    width: 58rem;
    height: 34.9rem;
    padding-top: 13.5rem;
    font-size: 7rem;
    line-height: 8rem;
  }
  
  .section-title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
}
@media (max-width: 320px){
  .rooms__item_vibes {
    margin-right: 1.5rem;
    margin-bottom: 1.8rem;
  }
  
  .rooms__item_wildwest {
    margin-bottom: 6rem;
  }
  
  .rooms__item_neonstyle {
    margin-left: 1.5rem;
  }
  
  .rooms__item {
    width: 58rem;
    height: 34.9rem;
    padding-top: 13.5rem;
    font-size: 7rem;
    line-height: 8rem;
  }
  
  .section-title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 5rem;
  }
}

