.rooms{
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.rooms__item_vibes {
  background-image: url(../rooms/image/80s.jpg);
  margin-right: 1.5rem;
  margin-bottom: 1.8rem;
}

.rooms__item_starwars {
  background-image: url(../rooms/image/starwars.jpg);
}

.rooms__item_wildwest {
  background-image: url(../rooms/image/wildwest.jpg);
  margin-bottom: 6rem;
}

.rooms__item_neonstyle {
  background-image: url(../rooms/image/neon.jpg);
  margin-left: 1.5rem;

}

.rooms__item {
  background-size: contain;
  background-repeat: no-repeat;
  width: 58rem;
  height: 34.9rem;
  text-align: center;
  padding-top: 13.5rem;
  font-size: 7rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 8rem;
  text-transform: uppercase;
  display: inline-block;
}

.section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 5rem;
  white-space: pre-line;
  grid-area: title;
}

@media (max-width: 1024px){
  .rooms__item {
    width: 44.3rem;
    height: 26.7rem;
    padding-top: 9.5rem;
    font-size: 5rem;
    line-height: 6rem;
  }

  .section-title {
    font-size: 3rem;
    line-height: 4rem;
  }

  .rooms__item_vibes {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }

  .rooms__item_wildwest {
    margin-bottom: 7rem;
  }

  .rooms__item_neonstyle {
    margin-left: 2rem;
  }
}

@media (max-width: 768px){
  .section-title {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 4rem;
  }

  .rooms__item {
    width: 33.5rem;
    height: 20rem;
    padding-top: 7.5rem;
    font-size: 4rem;
    line-height: 5rem;
  }

  .rooms__item_vibes {
    margin-right: 2rem;
    margin-bottom: 1.7rem;
  }

  .rooms__item_wildwest {
    margin-bottom: 6rem;
  }

  .rooms__item_neonstyle {
    margin-left: 2rem;
  }
}

@media (max-width: 320px){
  .section-title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .rooms__item {
    width: 28rem;
    height: 16.8rem;
    padding-top: 1rem;
    font-size: 2.6rem;
    line-height: 3.4rem;
    white-space: pre-line;
  }

  .rooms {
    flex-wrap: wrap;
    gap: 10px;
  }

  .rooms__item_vibes {
    margin-right: 0;
    margin-bottom: 0;
  }

  .rooms__item_wildwest {
    margin-bottom: 0;
  }

  .rooms__item_neonstyle {
    margin-left: 0;
  }
}

