.aboutus {
  padding-top: 10rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0 auto;
}

.aboutus__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.aboutus__slogan:last-child {
  margin-bottom: 0;
}

.quote__game-cite {
  font-style: normal;
  font-size: 4.4rem;
  line-height: 50px;
  text-transform: uppercase;
  white-space: pre-line;
  padding-left: 3.6rem;
  text-indent:-3.6rem;
}

.quote__game-cite:before {
  content: "“ ";
  font-weight: 900;
  color: var(--third-color);
}

.quote__game-cite:after {
  content: "”";
  font-weight: 900;
  color: var(--third-color);
  padding-left: 1rem;
}

.quote__picture {
  background-image: url(../aboutus/image/Arkadiy.jpg);
  background-repeat: no-repeat;
  float:left;
  width: 8rem;
  height: 8rem;
  max-height: 9.6rem;
  background-size: 8rem auto;
  overflow: hidden;
  border-radius: 50%;
}

.quote__picture-title {
  float:right;
  margin-left: 2.9rem;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #FFFFFF;
  text-transform: none;
  white-space: pre-line;
}

.quote__signature-conteiner {
  overflow:hidden;
  margin-top: 4rem;
  float: right;

}

.quote {
  padding: 0;
  margin-top: 5.9rem;
}


.aboutus__oculus {
  background-image: url(../aboutus/image/1st.jpg);
  background-repeat: no-repeat;
  background-size: 30rem auto;
  width: 30rem;
  height: 20.6rem;
  display: table-cell;
}

.aboutus__neon {
  background-image: url(../aboutus/image/2nd.jpg);
  background-repeat: no-repeat;
  background-size: 30rem auto;
  width: 30rem;
  height: 20.6rem;
  display: table-cell;
}

.aboutus__pcgames {
  background-image: url(../aboutus/image/3th.jpg);
  background-repeat: no-repeat;
  background-size: 16.4rem auto;
  width: 16.4rem;
  height: 22.4rem;
  display: table-cell;
}

.aboutus__gba {
  background-image: url(../aboutus/image/4th.jpg);
  background-repeat: no-repeat;
  background-size: 18rem auto;
  width: 18rem;
  height: 22.4rem;
  display: table-cell;
}

.aboutus__gemepad {
  background-image: url(../aboutus/image/5th.jpg);
  background-repeat: no-repeat;
  background-size: 25.6rem auto;
  width: 25.6rem;
  height: 22.4rem;
  display: table-cell;
}

.aboutus__singer {
  background-image: url(../aboutus/image/6s.jpg);
  background-repeat: no-repeat;
  background-size: 38rem auto;
  width: 38rem;
  height: 16.6rem;
  display: table-cell;
}

.aboutus__vr {
  background-image: url(../aboutus/image/7th.jpg);
  background-repeat: no-repeat;
  background-size: 22rem auto;
  width: 22rem;
  display: table-cell;
  height: 16.6rem;
}

.aboutus__left-side{
  display: inline-block;
  width: 60rem;
  margin-right: 7.4rem;
  vertical-align: top;
}

.aboutus__right-side{
  display: inline-block;
  width: 50rem;
  vertical-align: top;
}

.aboutus{
  width: 118rem;
}

