.aboutus {
  padding-top: 10rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,auto);
  grid-template-areas:
  "title title"
  "leftside rightpar"
  "leftside quote";

}

.aboutus__slogan {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.aboutus__slogan:last-child {
  margin-bottom: 0;
}

.quote__game-cite {
  font-style: normal;
  font-size: 4.4rem;
  line-height: 5rem;
  text-transform: uppercase;
  white-space: pre-line;
  padding-left: 3.6rem;
  text-indent:-3.6rem;
}

.quote__game-cite:before {
  content: "“ ";
  font-weight: 900;
  color: var(--third-color);
}

.quote__game-cite:after {
  content: "”";
  font-weight: 900;
  color: var(--third-color);
  padding-left: 1rem;
}

.quote__picture {
  background-image: url(../aboutus/image/Arkadiy.jpg);
  background-repeat: no-repeat;
  float:left;
  width: 8rem;
  height: 8rem;
  max-height: 9.6rem;
  background-size: 8rem auto;
  overflow: hidden;
  border-radius: 50%;
}

.quote__picture-title {
  float:right;
  margin-left: 2.9rem;
  font-size: 2rem;
  line-height: 2.8rem;
  color: #FFFFFF;
  text-transform: none;
  white-space: pre-line;
}

.quote__signature-conteiner {
  overflow:hidden;
  margin-top: 4rem;
  float: right;

}

.quote {
  padding: 0;
  margin-top: 5.9rem;
  grid-area: quote;
}


.aboutus__oculus {
  background-image: url(../aboutus/image/1st.jpg);
  background-repeat: no-repeat;
  background-size: 30rem auto;
  width: 30rem;
  height: 20.6rem;
  display: table-cell;
}

.aboutus__neon {
  background-image: url(../aboutus/image/2nd.jpg);
  background-repeat: no-repeat;
  background-size: 30rem auto;
  width: 30rem;
  height: 20.6rem;
  display: table-cell;
}

.aboutus__pcgames {
  background-image: url(../aboutus/image/3th.jpg);
  background-repeat: no-repeat;
  background-size: 16.4rem auto;
  width: 16.4rem;
  height: 22.4rem;
  display: table-cell;
}

.aboutus__gba {
  background-image: url(../aboutus/image/4th.jpg);
  background-repeat: no-repeat;
  background-size: 18rem auto;
  width: 18rem;
  height: 22.4rem;
  display: table-cell;
}

.aboutus__gemepad {
  background-image: url(../aboutus/image/5th.jpg);
  background-repeat: no-repeat;
  background-size: 25.6rem auto;
  width: 25.6rem;
  height: 22.4rem;
  display: table-cell;
}

.aboutus__singer {
  background-image: url(../aboutus/image/6s.jpg);
  background-repeat: no-repeat;
  background-size: 38rem auto;
  width: 38rem;
  height: 16.6rem;
  display: table-cell;
}

.aboutus__vr {
  background-image: url(../aboutus/image/7th.jpg);
  background-repeat: no-repeat;
  background-size: 22rem auto;
  width: 22rem;
  display: table-cell;
  height: 16.6rem;
}

.aboutus__left-side{
  display: inline-block;
  width: 60rem;
  margin-right: 7.4rem;
  vertical-align: top;
  grid-area: leftside;
}

.aboutus__right-side{
  display: inline-block;
  width: 50rem;
  vertical-align: top;
  grid-area: rightside;
}

.aboutus{
  width: 118rem;
}

.aboutus__right-par{
  grid-area: rightpar;
}

@media (max-width: 1024px){
  .aboutus {
    padding-top: 10rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  
  .aboutus__slogan {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 4rem;
  }
  
  .quote__game-cite {
    font-size: 4.4rem;
    line-height: 5rem;
    padding-left: 3.6rem;
    text-indent:-3.6rem;
  }
  
  .quote__game-cite:after {
    padding-left: 1rem;
  }
  
  .quote__picture {
    width: 8rem;
    height: 8rem;
    max-height: 9.6rem;
    background-size: 8rem auto;
  }
  
  .quote__picture-title {
    margin-left: 2.9rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  
  .quote__signature-conteiner {
    margin-top: 4rem;
  }
  
  .quote {
    margin-top: 5.9rem;
  }
  
  
  .aboutus__oculus {
    background-size: 30rem auto;
    width: 30rem;
    height: 20.6rem;
  }
  
  .aboutus__neon {
    background-size: 30rem auto;
    width: 30rem;
    height: 20.6rem;
  }
  
  .aboutus__pcgames {
    background-size: 16.4rem auto;
    width: 16.4rem;
    height: 22.4rem;
  }
  
  .aboutus__gba {
    background-size: 18rem auto;
    width: 18rem;
    height: 22.4rem;
  }
  
  .aboutus__gemepad {
    background-size: 25.6rem auto;
    width: 25.6rem;
    height: 22.4rem;
  }
  
  .aboutus__singer {
    background-size: 38rem auto;
    width: 38rem;
    height: 16.6rem;
  }
  
  .aboutus__vr {
    background-size: 22rem auto;
    width: 22rem;
    height: 16.6rem;
  }
  
  .aboutus__left-side {
    width: 60rem;
    margin-right: 3.9rem;
  }
  
  .aboutus__right-side{
    width: unset;
  }
  
  .aboutus{
    width: unset;
  }
  
}
@media (max-width: 768px){
  .aboutus {
    padding-top: 10rem;
    font-size: 2rem;
    line-height: 2.8rem;
    grid-template-columns: repeat(2,auto);
    grid-template-areas:
    "title title"
    "leftside rightpar"
    "quote quote";
  }
  .aboutus__slogan {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 4rem;
  }
  
  .quote__game-cite {
    font-size: 4.4rem;
    line-height: 5rem;
    padding-left: 3.6rem;
    text-indent:-3.6rem;
  }
  
  .quote__game-cite:after {
    padding-left: 1rem;
  }
  
  .quote__picture {
    width: 8rem;
    height: 8rem;
    max-height: 9.6rem;
    background-size: 8rem auto;
  }
  
  .quote__picture-title {
    margin-left: 2.9rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  
  .quote__signature-conteiner {
    margin-top: 4rem;
  }
  
  .quote {
    margin-top: 5.9rem;
  }
  
  
  .aboutus__oculus {
    background-size: 30rem auto;
    width: 30rem;
    height: 20.6rem;
  }
  
  .aboutus__neon {
    background-size: 30rem auto;
    width: 30rem;
    height: 20.6rem;
  }
  
  .aboutus__pcgames {
    background-size: 16.4rem auto;
    width: 16.4rem;
    height: 22.4rem;
  }
  
  .aboutus__gba {
    background-size: 18rem auto;
    width: 18rem;
    height: 22.4rem;
  }
  
  .aboutus__gemepad {
    background-size: 25.6rem auto;
    width: 25.6rem;
    height: 22.4rem;
  }
  
  .aboutus__singer {
    background-size: 38rem auto;
    width: 38rem;
    height: 16.6rem;
  }
  
  .aboutus__vr {
    background-size: 22rem auto;
    width: 22rem;
    height: 16.6rem;
  }
  
  .aboutus__left-side{
    width: 38.2rem;
    margin-right: 2.8rem;
  }
  
  .aboutus__right-side{
    width: unset;
  }
  
  .aboutus{
    width: unset;
  }
}
@media (max-width: 320px){
  .aboutus {
    padding-top: 10rem;
    font-size: 2rem;
    line-height: 2.8rem;
    grid-template-columns: repeat(1,auto);
    grid-template-areas:
    "title"
    "rightpar"
    "leftside"
    "quote";
  }
  
  .aboutus__slogan {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 4rem;
  }
  
  .quote__game-cite {
    font-size: 4.4rem;
    line-height: 5rem;
    padding-left: 3.6rem;
    text-indent:-3.6rem;
  }
  
  .quote__game-cite:after {
    padding-left: 1rem;
  }
  
  .quote__picture {
    width: 8rem;
    height: 8rem;
    max-height: 9.6rem;
    background-size: 8rem auto;
  }
  
  .quote__picture-title {
    margin-left: 2.9rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  
  .quote__signature-conteiner {
    margin-top: 4rem;
  }
  
  .quote {
    margin-top: 5.9rem;
  }
  
  
  .aboutus__oculus {
    background-size: 30rem auto;
    width: 30rem;
    height: 20.6rem;
  }
  
  .aboutus__neon {
    background-size: 30rem auto;
    width: 30rem;
    height: 20.6rem;
  }
  
  .aboutus__pcgames {
    background-size: 16.4rem auto;
    width: 16.4rem;
    height: 22.4rem;
  }
  
  .aboutus__gba {
    background-size: 18rem auto;
    width: 18rem;
    height: 22.4rem;
  }
  
  .aboutus__gemepad {
    background-size: 25.6rem auto;
    width: 25.6rem;
    height: 22.4rem;
  }
  
  .aboutus__singer {
    background-size: 38rem auto;
    width: 38rem;
    height: 16.6rem;
  }
  
  .aboutus__vr {
    background-size: 22rem auto;
    width: 22rem;
    height: 16.6rem;
  }
  
  .aboutus__left-side{
    width: 32rem;
    margin-right: 7.4rem;
  }
  
  .aboutus__right-side{
    width: unset;
  }
  
  .aboutus{
    width: unset;
  }
}

