
.top-section {
  margin: 0 auto;
  width: 1180px;
  height: 930px;
  position: relative;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
}

.top-section__title {
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.top-section__title:before {
  content: "";
  width: 675px;
  height: 762px;
  top: 117px;
  left: 505px;
  position: absolute;
  background-image: url("../top-section/image/main.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.top-section__subtitle {
  display: inline-block;
  font-size: 28px;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 0;
  padding-left: 100px;
}

.menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
  line-height: 300%;
}
.logo {
  display: inline-block;
}
.menu__item {
  display: inline-block;
  height: 50px;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 4;
  flex-grow: 0;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

.menu-button {
  width: 280px;
  height: 55px;

  line-height: 220%;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  vert-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  color: #FFFFFF;

  border-radius: 10px;
  border: solid 3px;
  border-color: var(--first-color);
  background-color: #1B1A1B;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.menu-button:focus {
  background: var(--third-color);
  border: 3px solid var(--third-color);
}

.menu-button:hover {
  background: var(--third-color);
  border: 3px solid var(--third-color);
}

.menu-button:active {
  background: #640AA3;
  border-radius: 10px;
}
.conteiner-row {
  display: flex;
  gap: 96px;
}

.top-section__number {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  text-align: center;
  text-transform: uppercase;
  min-width: 193px;
  /* identical to box height */

  color: var(--first-color);
}

.top-section__description {
  font-size: 30px;
  line-height: 34px;
  min-width: 163px;
  text-align: center;
  horiz-align: center;
  color: #FFFFFF;
  white-space: pre-line;
}

.top-section__new {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color:var(--first-color);
  min-width: 166px;
  horiz-align: center;
  text-align: center;
}

.top-section__order {
  width: 374px;
  height: 80px;

  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;

  border-style: none;
  background: var(--third-color);
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.top-section__order:hover {
  background-color: var(--fours-color);
}

.top-section__order:focus {
  background-color: var(--fours-color);
}

.top-section__order:active {
  background-color: var(--second-color);
}

.table {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}


.top-section__button-down {
  position: absolute;
  right: 544px;
  bottom: 140px;
  width: 97px;
  height: 97px;
  background-image: url("../top-section/image/down.png");
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
  transition-duration: 300ms;
  transition-timing-function: linear;

}

.top-section__button-down:hover {
  background-image: url("../top-section/image/downHover.png");
}

.top-section__button-down:focus {
  outline: 1px solid var(--fours-color);
}

.top-section__button-down:active {
  background-image: url("../top-section/image/downActive.png");
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
