
.footer__contacts {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;

  padding-bottom: 156px;
  display: flex;
  justify-content: space-between;
}

.footer__contact:before {
  position: relative;
  height: 29px;
  width: 24px;
  color:var(--first-color);
  padding-right: 24px;
}

.footer__contact_type_adress:before {
  content: url(../contacts/image/location.svg);
  top: 20px;
}

.footer__contact_type_tel:before {
  content: url(../contacts/image/tel.svg);
  top: 8px;
}

.footer__contact_type_email:before {
  content: url(../contacts/image/mail.svg);
  top: 8px;
}

.footer__contact {
  font-style: normal;
  text-transform: none;
  letter-spacing: 2px;
  cursor: pointer;

}

.footer__contact_type_adress {
  white-space: pre-line;
  padding-left: 60px;
  text-indent:-60px;
  margin-bottom: 35px;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.footer__link {
  display: inline-block;
  margin-right: 27px;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__contact_type_tel {
  white-space: break-spaces;
  margin-bottom: 14px;
}

.small__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-bottom: 6px;
}
.small {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  margin: 0;
}

.list {
  margin: 0;
  list-style-type: none;
}

.small__text:last-child {
  padding-bottom: 10px;
  margin-bottom: 0;
}

.footer__svg {
  transition-duration: 200ms;
  transition-timing-function: linear;

}

.footer__svg:focus {
  fill: #EADEED;
  outline: 1px solid var(--first-color);
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.footer__svg:hover {
  fill: #EADEED;
}

.footer__svg:active {
  fill: var(--first-color);
}

.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__link_icon {
  width: 48px;
  height: 48px;
  display: block;
}
