.footer {
  padding-top: 5rem;
  font-style: normal;
}
.footer__contacts {
  font-family: Arial;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #ffffff;
  margin-bottom: 15.6rem;
  display: flex;
  justify-content: space-between;
}

.footer__contact:before {
  content: "";
  width: 3.4rem;
  height: 3.2rem;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color:var(--first-color);
  background-size: 3.4rem auto;
}

.footer__contact_type_adress:before {
  background-image: url(../contacts/image/location.svg);

}

.footer__contact_type_tel:before {
  background-image: url(../contacts/image/tel.svg);

}

.footer__contact_type_email:before {
  background-image: url(../contacts/image/mail.svg);
}

.footer__contact {
  font-style: normal;
  position: relative;
  max-width: 30rem;
  padding-left: 6rem;

}

.footer__contact_type_adress {
  margin-bottom: 3.8rem;
}

.footer__links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 4rem;
}

.footer__link {
  display: inline-block;
  margin-right: 2.7rem;
}

.footer__link:last-child {
  margin-right: 0;
}

.footer__contact_type_tel {
margin-bottom: 1.3rem;
}

.small__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  margin-bottom: 0.6rem;
}
.small {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  margin: 0;
}

.list {
  margin: 0;
  list-style-type: none;
}

.small__text:last-child {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.footer__svg {
  transition-duration: 200ms;
  transition-timing-function: linear;
  width:4.8rem;
  height: auto;

}

.footer__svg:focus {
  fill: #EADEED;
  outline: 1px solid var(--first-color);
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.footer__svg:hover {
  fill: #EADEED;
}

.footer__svg:active {
  fill: var(--first-color);
}

.footer {
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__link-icon {
  width: 4.8rem;
  height: 4.8rem;
  display: block;
}

.footer__map{
width: 68rem;
height: auto;
}

@media (max-width: 1024px){
  .footer {
    padding-top: 7rem;
  }
  .footer__contacts {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 9.5rem;
  }

  .footer__contact:before {
    width: 2.6rem;
    height: 2.6rem;
    background-size: 2.6rem auto;
  }

  .footer__contact {
    max-width: 30rem;
    padding-left: 4.9rem;

  }

  .footer__contact_type_adress {
    margin-bottom: 4rem;
  }

  .footer__links {
    margin-top: 4rem;
  }

  .footer__link {
    margin-right: 2.7rem;
  }

  .footer__contact_type_tel {
  margin-bottom: 0.7rem;
  }

  .small__text {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 0.6rem;
  }

  .small__text:last-child {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .footer__svg {
    width:3.9rem;
  }

  .footer__link-icon {
    width: 3.9rem;
    height: 3.9rem;
  }

  .footer__map {
  width: 54.2rem;
  }
}
@media (max-width: 768px){
  .footer {
    padding-top: 7rem;
  }

  .container_column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__contacts {
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 7.5rem;
  }

  .footer__contact:before {
    width: 2.6rem;
    height: 2.6rem;
    background-size: 2.6rem auto;
  }

  .footer__contact {
    max-width: unset;
    padding-left: 6rem;

  }

  .footer__contact_type_adress {
    margin-bottom: 2.7rem;
  }

  .footer__links {
    margin-top: 2.8rem;
    margin-bottom: 3.8rem;
  }

  .footer__link {
    margin-right: 2.7rem;
  }

  .footer__contact_type_tel {
  margin-bottom: 2.7rem;
  }

  .small__text {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 0.6rem;
  }

  .small__text:last-child {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .footer__svg {
    width:3.84rem;
  }

  .footer__svg:focus {
    outline: 1px solid var(--first-color);
  }

  .footer__link-icon {
    width: 4.8rem;
    height: 4.8rem;
  }

  .footer__map{
  width: 68rem;
  }
}

@media (max-width: 320px){
  .footer {
    padding-top: 1.5rem;
  }
  .footer__contacts {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-bottom: 6.3rem;
  }

  .footer__contact:before {
    width: 2rem;
    height: 2rem;
    background-size: 2rem auto;
  }

  .footer__contact {
    max-width: 30rem;
    padding-left: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
  }

  .footer__contact_type_adress {
    margin-bottom: 3.5rem;
    margin-top: 1rem;
    white-space: pre-line;
  }

  .footer__links {
    margin-top: 4rem;
  }

  .footer__link {
    margin-right: 2rem;
  }

  .footer__contact_type_tel {
  margin-bottom: 1.3rem;
  }

  .small__text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 0.6rem;
  }
  .small__text-trademark {
    margin-bottom: 1.9rem;
  }

  .small__text:last-child {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .footer__svg {
    width:2.9rem;
  }

  .footer__svg:focus {
    outline: 1px solid var(--first-color);
  }

  .footer__link-icon {
    width: 2.9rem;
    height: 2.9rem;
  }

  .footer__map{
  width: 28rem;
  height: 19.4rem;
  }

  .small{
    flex-direction: column;
    align-items: center;
  }

  .footer__contact:before {
    display: inline-block;
    position: unset;
    transform: unset;
  }
}
