.entertainment__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.entertainment__item {
  background-repeat: no-repeat;
  width: 380px;
  height: 228px;

}

.entertainment__item:hover {
  transition-duration: 300ms;
  transition-timing-function: linear;
  transform: scale(1.1);
  cursor: pointer;
}
.entertainment__item:nth-child(1){
  background-image: url(../image/active/vr.jpg);
}
.entertainment__item:nth-child(2){
  background-image: url(../image/active/audio.jpg);
}
.entertainment__item:nth-child(3){
  background-image: url(../image/active/micro.jpg);
}
.entertainment__item:nth-child(4){
  background-image: url(../image/active/game.jpg);
}
.entertainment__item:nth-child(5){
  background-image: url(../image/active/netflix.jpg);
}
.entertainment__item:nth-child(6){
  background-image: url(../image/active/sony.jpg);
}

.entertainment__title {
position: relative;
  top: 166px;
  left: 40px;
  white-space: pre-line;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

}
.entertainment{
  margin: 0 auto;
}
