.form__button {
  width: 250px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.choseRoom {
  display: flex;
  gap: 60px;
  justify-content: space-between;
}

.activity {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}
.form__columns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}

.category {
  display: flex;
  justify-content: space-around;
}

.form__input {
  width: 280px;
  height: 52px;
  background: #FFFFFF;
}

/* Rectangle 42 */
.date-time {
  width: 134px;
  height: 52px;
  background: #FFFFFF;
}
.form {
  background-color: #440F51;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 60px;
  margin-bottom: 40px;
}

.submitbut {
  height: 52px;
  width: 300px;
}

.cont {
  width: 1080px;
  margin: 0 auto;
}

.radio-button {
  height: 27px;
  width: 27px;
  vertical-align: middle;
}

.form__checkbox {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.gap{
  gap: 10px;
}

.without{
  padding-top: 0;
}

.padtop{
  padding-top: 36px;
}

.email {
  margin-bottom: 40px;
}

.radius{
  border-radius: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #6C0287;
}
