.form__button {
  display: none;
}

.form__label-radio {
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  border: 1px solid #999;
  border-radius: 8px;
  user-select: none;
  color: #000000;
  padding: 0px 15px;
  background: #FFFFFF;
  width: 250px;
  height: 55px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__label-radio:hover {
  background-color: #EADEED;
  border: 3px solid var(--second-color);
  border-radius: 8px;
}

.form__label-radio:focus {
  background: #FFFFFF;
  border: 3px solid var(--second-color);
  border-radius: 8px;
}

.form__label-radio:active {
  background-color: var(--third-color);
  border: 3px solid #FFFFFF;
  border-radius: 8px;
}

.chooseRoom {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 60px;
}

.form__activity {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FFFFFF;
  padding-bottom: 0;
  padding-top: 0;
}




.form__column-time {
  margin-top: 26px;
  width: 300px;
  height: 150px;
  display: flex;
  row-gap: 36px;
  column-gap: 32px;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 0;
  padding-top: 0;

}

.form__columns-activity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 0;
  padding-top: 0;
}

.form__parameters {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin-bottom: 60px;
}

.form__parameters:last-child {
  margin-bottom: 0;
}

.form__input {
  width: 100%;
  overflow: hidden;
  height: 52px;
  background: #FFFFFF;
  transition-duration: 300ms;
  transition-timing-function: linear;
  padding-left: 20px;
  padding-right: 20px;
}

.amount {
  width: 300px;
}

.form__input:focus {
  outline: 2px solid var(--first-color);
}

.form {
  width: 100%;
  background-color: #440F51;
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.form__input-info {
  height: 52px;
  width: 300px;
  transition-duration: 300ms;
  transition-timing-function: linear;
  padding-left: 20px;
  padding-right: 20px;
}

.submit {
  height: 52px;
  width: 300px;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.submit:focus {
  background: #FFFFFF;
  border: 3px solid var(--first-color);
  border-radius: 10px;
}

.form__input-info:focus {
  outline: 2px solid var(--first-color);
}

.cont {
  width: 1080px;
  margin: 0 auto;
}

.form__radio-button {
  height: 27px;
  width: 27px;
  vertical-align: text-bottom;
  margin-right: 5px;

}
.form__radio-button:focus {
  outline: 1px solid var(--first-color);
}
.form__checkbox {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  vertical-align: bottom;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.form__checkbox:focus {
  outline: 1px solid var(--first-color);
}

.gap {
  gap: 10px;
}

.form__date-time {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.email {
  margin-bottom: 40px;
}

.form__button-booking {
  height: 52px;
  width: 300px;
  border-radius: 10px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--third-color);
  border-style: none;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.form__button-booking:hover {
  background-color: #EADEED;
  border: 3px solid var(--second-color);
  border-radius: 10px;
}

.form__button-booking:focus {
  background: #FFFFFF;
  border: 3px solid var(--third-color);
  border-radius: 10px;
}

.form__button-booking:active {
  background-color: #EADEED;;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
}

.form__subtitle {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.form__label-small {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.form__columns-activity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 0;
  padding-top: 0;
}
.form__row {
  display: flex;
  gap: 32px;
  padding-top: 26px;
  margin-bottom: 26px;
}

.form__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 0;
  padding-top: 0;
}
.form__column:nth-child(2) {
  width: 300px;
}

.form__column:nth-child(3) {
  width: 280px;
}

.form__column:nth-child(4) {
  width: 300px;
}
