
.question__list {
  list-style-type: none;
  padding-left: 0;
}

.question__item {
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  line-height: 46px;
  cursor: pointer;
}

.question__item:nth-child(even) {
  background-color:#440F51;
  color: white;
}

.question__item:nth-child(odd) {
  background-color: #FFFFFF;
}

.question__item:last-child {
  margin-bottom: 0;
}
.question__item:nth-child(odd):hover .question__button-purple {
  background-image: url("../icons/openPurple.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.question__item:nth-child(odd):active .question__button-purple {
  background-image: url("../icons/closePurple.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.question__item:nth-child(even):hover .question__button-white{
  background-image: url("../icons/openWhite.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.question__item:nth-child(even):active .question__button-white{
  background-image: url("../icons/closeWhite.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.question__button-purple {
  width: 46px;
  height: 46px;
  background-image: url("../icons/open-purple.svg");
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
  float: right;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.question__button-purple:hover {
  background-image: url("../icons/openPurple.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.question__button-purple:active {
  background-image: url("../icons/closePurple.png");
  background-repeat: no-repeat;
  background-color: transparent;
}
.question__button-white {
  width: 46px;
  height: 46px;
  background-image: url("../icons/open.png");
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
  float: right;
  transition-duration: 300ms;
  transition-timing-function: linear;
}

.question__button-white:hover {
  background-image: url("../icons/openWhite.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.question__button-white:active {
  background-image: url("../icons/closeWhite.png");
  background-repeat: no-repeat;
  background-color: transparent;
}

.question {
  width: 1180px;
  margin: 0 auto;
}

