
.top-section {
  margin: 0 auto;
  width: 1180px;
  height: 1022px;
  position: relative;
}

.top-section__title {
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
  color: #FFFFFF;

  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.top-section__title:before {
  content: "";
  width: 675px;
  height: 762px;
  top: 207px;
  left: 505px;
  position: absolute;
  background-image: url("../image/main.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

.top-section__subtitle {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 0;
  padding-left: 100px;
}

.menu {
  display: flex;
  gap: 40px;
  list-style-type: none;
  line-height: 300%;
}
.logo {
  display: inline-block;
}
.menu__item {
  display: inline-block;
  height: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
  color: #FFFFFF;
  flex: none;
  order: 4;
  flex-grow: 0;
}
/*сбросить стили списка*/
ul {
  padding-left: 0;
}

.ordernow {
  border: solid 3px;
  border-color: #CD06FF;
  width: 280px;
  height: 55px;
  border-radius: 10px;
  line-height: 220%;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
  vert-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.ordernow:focus {
  background: #6C0287;
  border: 3px solid #6C0287;
}
.ordernow:hover {
  background: #6C0287;
  border: 3px solid #6C0287;
}
.ordernow:active {
  background: #640AA3;
  border-radius: 10px;
}
.conteiner-row {
  display: flex;
  gap: 96px;
}

.top-section__number {
  font-weight: 900;
  font-size: 100px;
  line-height: 141px;
  text-align: center;
  text-transform: uppercase;
  /* identical to box height */

  color: #CD06FF;
}

.top-section__description {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  white-space: pre-line;
}

.top-section__new {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: small-caps;
  color: #CD06FF;
}

.td-padding {
  padding-left: 40px;
}
.bigbutton {
  width: 374px;
  height: 80px;
  background: #6C0287;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-style: none;
}
.bigbutton:hover {
  background-color: #840AA3;
}

.bigbutton:focus {
  background-color: #840AA3;
}

.bigbutton:active {
  background-color: #640AA3;
}

.table {
  margin-bottom: 150px;
}

.top-section__button-down {
  position: absolute;
  margin-left: 165px;
  margin-top: 50px;
  width: 97px;
  height: 97px;
  background-image: url("../image/top_section/down.png");
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
}
.top-section__button-down:hover {
  background-image: url("../image/top_section/downHover.png");
}

.top-section__button-down:focus {
  border: 1px solid #840AA3;
}

.top-section__button-down:active {
  background-image: url("../image/top_section/downActive.png");
}
