html {
  --main-purple: #6C0287;
  --active-color: purple;
  --background-main:black;
  --border-color: purple;
}
html {
  --hover-back: #6C0287;
  --active-color: purple;
  --background-main:black;
  --border-focus-hover: #6C0287;
}
